*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html{
  width: 100vw; height: 100vh;
}

body{
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 550px;
  height: 870px;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 716px;
  width: 317px;
}

.info{
  background: #1A1B21;
  height: 470px;
}

.picture{
  border-radius: 10px 10px 0px 0px;
  width: 317px; height: auto;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name{
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 10px;
}

.position{
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  color: #F3BF99;
}

.website{
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #F5F5F5;
  margin-top: 10px;
  margin-bottom: 20px;
}

.buttons, button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.linkedin{
  background-color: #5093E2;
}

.linkedin > span{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.email > span{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #374151;
}

button{
  width: 115px;
  height: 34px; 
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.about{
  height: 100px;
  background: #1A1B21;
}

.interests{
  height: 100px;
  background: #1A1B21;
}

.heading{
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
  padding-left: 35px;
  padding-top: 20px;
}

.para{
  font-size: 10.24px;
  line-height: 150%;
  color: #DCDCDC;
  font-weight: 400;
  width: 250px;
  margin-left: 35px;
}

.footer{
  height: 64px;
  background: #1A1B21;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > img{
  width: 25px;
  height: auto;
  margin-inline: 20px;
}